main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15px;
}

.item-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 70%;
    height: 150px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 8px 8px;
}
